.css-131rybu {
  width: 1%;
  min-width: 200px;
}
.css-77toqv {
  max-width: unset !important;
}
.css-1tzcyg6 {
  max-width: 20%;
  margin-left: 10px;
}
.css-d491n4 {
  padding-left: 200px;
}
.css-j9ixyu {
  padding: 0 20px;
}
